@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* background-color: rgb(99, 72, 72); */
  color: antiquewhite;
  scrollbar-width: none;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
